@font-face {
  font-family: 'Carrois Gothic';
    src:  url('../carrois-gothic/CarroisGothic-Regular.ttf') format('truetype');
}
body {
  margin: 0;
}
.nav-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 40px;
  z-index: 1;
  background-color: #E4E1D5;
  text-align: center;
  margin: 0;
  padding: 20px 0px;
  color: #474848;
  font-family: 'Carrois Gothic';
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
li {
  padding: 0px 2% 0px 2%;
  display: inline-block;;
  margin: 0;
  text-decoration: none;
}
li:hover {
  color: #757777;
}
div.jumbotron {
  position: relative;
  width: 1440px;
  height: 1080px;
  background-image: url("../img/spaghetti_meatballs.jpg");
  margin: auto;
}
.content {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 150px;
  z-index: 1;
  background-color: #E4E1D5;
  /*text-align: center;
  margin: 0;
  padding: 20px 0px;
  color: #474848;
  font-family: 'Carrois Gothic';
  text-transform: uppercase;
  letter-spacing: 1.5px;*/
}
