*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@font-face {
  font-family: 'rubik-black';
    src:  url('../rubik/Rubik-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'rubik-medium';
    src:  url('../rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'rubik-medium-italic';
    src:  url('../rubik/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'rubik-light';
    src:  url('../rubik/Rubik-Light.ttf') format('truetype');
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

body {
  margin: 0;
  background-color: #dad2af;
}

.nav {
  position: relative;
  width: 100%;
  background-color: #102e46;
  border-bottom: 4px solid #d3fe00;
}

.nav ul {
  overflow: auto;
  list-style-type: none;
  margin:  0 auto;
  padding: 30px 160px 30px 140px;
}

.nav li {
  font-family: "rubik-light";
  text-transform: uppercase;
  float: right;
  font-size: 16px;
  margin: 6px 20px 0px 20px;
  color: #d3fe00;
  transition: color 0.5s ease;
}

.nav li:first-child {
  font-family: "rubik-black";
  float: left;
  font-size: 24px;
  margin: 0px 0px 0px 0px;
  letter-spacing: 2px;
}

.nav li:hover {
  color: #e32d14;
  cursor: pointer;
  /*-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;*/
}

.container {
  margin: 0 auto;
  background-color: #dad2af;
  width: 1400px;
  height: 900px;
  position: relative;
}

.jumbotron {
  /*position: relative;*/
  width: 1200px;
  height: 800px;
  background-image: url("../img/waterheader.jpg");
  margin: auto;
}

.columnleft
 ul {
  display: block;
}

.columnleft
  li {
  font-family: "rubik-light";
  color: #102e46;
  font-size: 14px;
}

.columnleft {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 400px;
}

h1 {
  font-family: "rubik-medium-italic";
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #102e46;
  color: #d3fe00;
  margin: 40px 0px 0px 0px;
  padding: 20px 30px 20px 30px;
  width: auto;
  height: auto;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

h3 {
  font-family: "rubik-light";
  font-size: 14px;
  margin: 20px 20px 0px 20px;
  text-align: justify;
  color: #102e46;
}

table {
  /*position:absolute;
  top: 300px;
  left: 40px;*/
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0);;
  font-family: "rubik-light";
  margin: 40px 0px 0px 0px;
}

td, th {
  width: 200px;
  height: 0;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  margin: 0px;
  text-align: left;
}

th {
  font-family: "rubik-medium";
  background-color: #102e46;
  color: #d3fe00;
  letter-spacing: 1px;
}

hr {
  /*height: 2px;*/
  border: 1px solid #102e46;
  margin: 80px 0px 30px 0px;
  padding: 0;
}

.icons {
  margin: 30px 0px 0px 60px;
  color: #102e46;
  font-size: 22px;
}

.icons i {
  padding: 0px 30px 0px 30px;
  transition: color 0.5s ease;
}

.icons i:hover {
  color: #e32d14;
  cursor: pointer;
}

.rightcolumn {
  position: absolute;;
  top: 80px;
  left: 950px;
}

.rightcolumn h1 {
  padding: 20px 100px 20px 100px;
}

.thumbnails img {
  max-width: 200px;
  margin: 20px auto 20px auto;
  padding: 0;
  display: block;
}
